In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
county = "Dallas"
state = "Texas"
state_abb = "TX"

# Read the csv files

Read the csv files.  
Convert the FIPS column to Strings with 0 in front if it's not 5 digits long.

In [3]:
# Helper function to convert FIPS into a string
def convert_to_zip_code(value):
    if np.isnan(value):
        return ""
    else:
        return str(int(value)).zfill(5)

us_confirmed_cases = pd.read_csv("../data/RAW_us_confirmed_cases.csv")
# Convert FIPS into a String Zip
us_confirmed_cases['FIPS'] = us_confirmed_cases['FIPS'].apply(convert_to_zip_code)
us_confirmed_cases

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21,10/26/21
0,Alabama,Autauga,84001001,US,USA,840,01001,US,32.539527,-86.644082,...,9901,9904,9909,9910,9954,9967,10043,10047,10048,10061
1,Alabama,Baldwin,84001003,US,USA,840,01003,US,30.727750,-87.722071,...,37087,37098,37127,37167,37192,37224,37245,37258,37266,37285
2,Alabama,Barbour,84001005,US,USA,840,01005,US,31.868263,-85.387129,...,3556,3560,3563,3565,3566,3575,3577,3578,3578,3583
3,Alabama,Bibb,84001007,US,USA,840,01007,US,32.996421,-87.125115,...,4217,4217,4232,4236,4240,4246,4251,4252,4253,4256
4,Alabama,Blount,84001009,US,USA,840,01009,US,33.982109,-86.567906,...,10102,10104,10113,10132,10162,10179,10192,10197,10207,10227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,84056039,US,USA,840,56039,US,43.935225,-110.589080,...,5050,5075,5083,5098,5110,5119,5119,5119,5152,5164
3338,Wyoming,Uinta,84056041,US,USA,840,56041,US,41.287818,-110.547578,...,3711,3719,3733,3744,3756,3781,3781,3781,3794,3805
3339,Wyoming,Unassigned,84090056,US,USA,840,90056,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,84056043,US,USA,840,56043,US,43.904516,-107.680187,...,1586,1603,1631,1645,1657,1677,1677,1677,1690,1700
3341,Wyoming,Weston,84056045,US,USA,840,56045,US,43.839612,-104.567488,...,986,1002,1004,1006,1022,1027,1027,1027,1041,1047

In [4]:
mask_mandates = pd.read_csv("../data/U.S._State_and_Territorial_Public_Mask_Mandates_From_April_10__2020_through_August_15__2021_by_County_by_Day.csv")
mask_mandates

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,order_code,Face_Masks_Required_in_Public,Source_of_Action,URL,Citation
0,TX,Anderson County,48,1,4/10/2020,2,NaN,NaN,NaN,NaN
1,TX,Anderson County,48,1,4/11/2020,2,NaN,NaN,NaN,NaN
2,TX,Anderson County,48,1,4/12/2020,2,NaN,NaN,NaN,NaN
3,TX,Anderson County,48,1,4/13/2020,2,NaN,NaN,NaN,NaN
4,TX,Anderson County,48,1,4/14/2020,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
125217,TX,Zavala County,48,507,8/11/2021,2,No,Official,NaN,"Tex. Exec. Order No. GA-36 (May 18, 2021)"
125218,TX,Zavala County,48,507,8/12/2021,2,No,Official,NaN,"Tex. Exec. Order No. GA-36 (May 18, 2021)"
125219,TX,Zavala County,48,507,8/13/2021,2,No,Official,NaN,"Tex. Exec. Order No. GA-36 (May 18, 2021)"
125220,TX,Zavala County,48,507,8/14/2021,2,No,Official,NaN,"Tex. Exec. Order No. GA-36 (May 18, 2021)"
125221,TX,Zavala County,48,507,8/15/2021,2,No,Official,NaN,"Tex. Exec. Order No. GA-36 (May 18, 2021)"

In [5]:
mask_use = pd.read_csv("../data/mask-use-by-county.csv")
# Convert the COUNTYFP into a string and add 0 in front if not 5 digits
mask_use['COUNTYFP'] = mask_use['COUNTYFP'].astype(str).str.zfill(5)
mask_use

     COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0       01001  0.053   0.074      0.134       0.295   0.444
1       01003  0.083   0.059      0.098       0.323   0.436
2       01005  0.067   0.121      0.120       0.201   0.491
3       01007  0.020   0.034      0.096       0.278   0.572
4       01009  0.053   0.114      0.180       0.194   0.459
...       ...    ...     ...        ...         ...     ...
3137    56037  0.061   0.295      0.230       0.146   0.268
3138    56039  0.095   0.157      0.160       0.247   0.340
3139    56041  0.098   0.278      0.154       0.207   0.264
3140    56043  0.204   0.155      0.069       0.285   0.287
3141    56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]